.swiper {
  width: 100%;
  height: 560px;
  user-select: none;
  overflow: unset!important;
  .swiper-wrapper {
    width: 100%;
    .swiper-slide {
      height: 607px;
      .swiper-slide__group {
        overflow: hidden;
        height: 100%;
      }
    }
  }
}