@font-face {
  font-family: 'font1';
  src: url(/fonts/Cerebri\ Sans\ Book.ttf); //book là ko in đậm
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: 'font2';
  src: url(/fonts/Cerebri\ Sans\ Medium.ttf); //medium là in đậm
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: 'font3';
  src: url(/fonts/Work\ Sans\ Regular.ttf);
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: 'work sans bold';
  src: url(/fonts/Work\ Sans\ Bold.ttf);
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: 'font5';
  src: url(/fonts/work-sans.semibold.ttf);
  font-weight:normal;
  font-style: normal;
}