@mixin buttonShort {
  background-color: #D38E25;
  width: 145px;
  height: 50px;
  color: #fff;
  font-size: 1.4rem;
  border: 0;
  border-bottom: 4px solid #A16915;
  padding: 0 30px;
  text-transform: uppercase;
  @include flexBox();
}
@mixin buttonLong {
  background-color: $primay-color;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 1.5rem;
  border: 0;
  border-bottom: 0.4rem solid #A16915;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
}
@mixin flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@mixin classButtonShort {
  position: relative;
  width: 145px;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: $background-color;
    transition: height 0.3s ease-in-out;
    cursor: pointer;
  }
  &:hover::after {
    height: 50px;
    color: #fff;
    width: 100%;
    z-index: 0; 
  }
}
@mixin classButtonLong {
  position: relative;
  width: 100%;
  z-index: 1;
  height: max-content;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: $background-color;
    transition: height 0.3s ease-in-out;
    cursor: pointer;
  }
  &:hover::after {
    height: 50px;
    color: #fff;
    width: 100%;
    z-index: 0; 
  }
}
@mixin spanButton{
  position: relative;
  z-index: 2;
  font-family: 'work sans bold';
  letter-spacing: 0.7px;
  @include flexBox();
  text-transform: uppercase;
}